.app-header {
    background: $clr-base-1;
    color: $clr-base-10;
    height: rem(52px);
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1;

    .header-container {
        height: 100%;
        // position: relative;

        .logo-section {
            .logo-title {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
                font-size: rem(24px);
                text-transform: uppercase;
            }
        }

        .btn-toggle-menu {
            padding: 0;
            font-size: 18px;
            background-color: transparent;
            border: none;
        }

    }

    @include mq-max(mq-768) {
        .header-container {
            .main-nav {
                flex-direction: column;
                gap: rem(10px);
                background-color: $clr-5;
                position: absolute;
                left: 0;
                top: 52px;
                width: 100%;
                height: calc(100vh - 52px);
                padding: rem(20px) rem(15px) 0 rem(15px);
                transition: all 700ms;
                a {
                    border-radius: $border-radius-3;
                    transition: all .1s ease;
                    font-size: rem(18px);
                    padding: rem(15px);
                    background-color: $clr-base-1;
                }

                &.is-hidden {
                    left: -100vw;
                    opacity: .5;
                }
            }

            .btn-toggle-menu {}

        }
    }

    @include mq(mq-769) {
        .header-container {
            .main-nav {
                display: flex;
                gap: 24px;

                a {
                    transition: all .1s ease;
                    font-size: rem(18px);

                    &.active {
                        scale: 1.2;
                    }

                    &:hover {
                        scale: 1.2;
                    }
                }
            }

            .btn-toggle-menu {
                display: none;
            }

        }
    }

    @include mq(mq-1200) {
        height: rem(74px);
        padding: 0 50px;

        .header-container {
            max-width: 1560px;
            margin: auto;

            .logo-section {
                .logo-title {
                    font-size: rem(30px);
                }
            }

            .main-nav {
                gap: 40px;
            }


        }

    }
}