.recipe-filter {
    background-color: $clr-base-1;
    border-radius: $border-radius-5;
    @include box-shadow();
    // margin-inline: em(16px);
    padding: em(8px) em(4px) em(4px) em(4px);
    max-width: em(924px);
    height: em(150px);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;

    &.is-hidden {
        display: none;
    }

    .title{
        display: none;
    }

    .container {
        margin-block-end: 1em;
        font-size: rem(14px);
    }

    .check-input {
        margin-block-end: em(4px);

        label {
            margin-inline-start: em(4px);
        }
    }

    .number-input {
        display: grid;
        // grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        align-items: baseline;
        row-gap: em(4px);
        column-gap: em(8px);
        margin-block-end: em(8px);

        label {
            grid-column: 1 / -1;
        }

        input {
            // font-size: rem(16px);
            width: 100%;
            border-radius: em(6px);
        }
    }

    @include mq(mq-540) {
        padding: em(15px);

        &.is-hidden {
            display: grid;
        }

        .container {
            margin-block-end: 1em;
            font-size: rem(18px);
        }
    }

    @include mq(mq-1200) {

        display: block;
        position: sticky;
        top: 90px;
        z-index: 1;

        margin: 0;
        margin-inline-start: em(20px);
        // margin-inline-start: em(20px);

        height: calc(100vh - 106px);

        &.is-hidden {
            display: block;
        }

        .title{
            display: flex;
            align-items: center;
            gap: 12px;
            h2{
                font-weight: 600;
            }
            margin-block-end: em(12px);
        }
    }
}

.btn-toggle-filter {
    position: absolute;
    top: 16px;
    height: rem(48px);
    width: rem(48px);
    background-color: $clr-base-1;
    border: none;
    border-radius: $border-radius-5;


    @include mq(mq-540) {
        display: none;
    }
}