.recipe-filter {
    background-color: $clr-base-1;
    border-radius: $border-radius-5;
    @include box-shadow();
    // margin-inline: em(16px);
    padding: em(15px);
    max-width: em(924px);
    height: em(150px);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;

    &.is-hidden {
        display: none;
    }

    .check-section {}

    @include mq(mq-540) {
        &.is-hidden {
            display: grid;
        }
    }

    @include mq(mq-1200) {
        display: block;

        position: sticky;
        top: 90px;
        z-index: 1;

        margin: 0;
        margin-inline-start: em(20px);
        // margin-inline-start: em(20px);

        height: calc(100vh - 106px);
    }
}

.btn-toggle-filter {
    position: absolute;
    top: 16px;
    height: rem(48px);
    width: rem(48px);
    background-color: $clr-base-1;
    border: none;
    border-radius: $border-radius-5;


    @include mq(mq-540) {
        display: none;
    }
}