.search-bar {
    // text-align: center;
    margin: rem(16px) 0;
    padding-inline-start: 64px;

    .input-search {
        max-width: rem(500px);
        width: 100%;
        height: rem(48px);

        display: block;
        box-sizing: border-box;
        border: none;
        border-radius: .4rem;
        font-size: 16px;

        padding: 12px 20px 12px 40px;
        transition: all 0.2s ease;

        background-color: $clr-base-1;

        @include box-shadow();

        &:focus {
            background-color: white;
            box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
            border: none;
        }

        &:focus-visible {
            outline: none;
        }
    }

    @include mq(mq-540) {
        padding-inline-start: 0;

        margin: rem(16px) 0;

        .input-search {
            margin: auto;
        }

    }
}