.user-recipe-preview {
    display: grid;
    grid-template-columns: 1fr rem(72px) rem(80px);
    margin-bottom: .5rem;
    height: 120px;
    background-color: $clr-base-4;
    align-items: center;
    border-radius: 0 1000px 1000px 0;
    color: $clr-base-2;


    .info {
        display: grid;
        grid-template-columns: 170px 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 12px;
        // align-items: center;

        img {
            grid-row: 1 / -1;
            height: 110px;
            width: 160px;
            object-fit: cover;
            place-self: center;

        }

        .title {
            align-self: end;
            font-size: 20px;
        }

        .description {}
    }

    .btn-remove {
        height: 40px;
        width: 40px;
        justify-self: center;
    }

    .edit {
        .btn-edit {
            height: 40px;
            width: 40px;
        }
    }
}