@use 'sass:map';
// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin quotes {
    &::before {
        content: open-quote;
    }

    &::after {
        content: close-quote;
    }
}

/* Breakpoint mixins */
$breakpoints: (
    medium: em(640px),
    // medium: em(800px),
    large: em(992px),
);

@mixin mq($key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size) {
        @content;
    }
}