// Colors
$clr1: #e01e5a;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

// colors
$clr-base-1: #ffffff;
$clr-base-2: #FEFEFE;
$clr-base-3: #F2F3F7;
$clr-base-4: #A2B1B1;
$clr-base-5: #FAFAFA;
$clr-base-6: #F3F3F3;
$clr-base-7: #b9b9b9;
$clr-base-8: #5a5a5a;
$clr-base-9: #292929;
$clr-base-10: #000000;


$app-header-height: 60px;

$app-margin-size: rem(16px);

$border-radius-3: 3px;

$box-shadow-clr: rgba(195, 195, 195, 0.099)