.recipe-index {

    // display: grid;
    // grid-template-rows: em(68px) em(150px) 1fr;
    // grid-template-areas:
    //     "s"
    //     "f"
    //     "l";
        
    position: relative;
    margin-inline: em(16px);


    .search-bar {
        grid-area: s;
        align-self: center;
    }

    .recipe-list {
        grid-area: l;
    }

    .recipe-filter {
        grid-area: f;
    }


    @include mq(mq-1200) {
        display: grid;
        grid-template-rows: em(80px) 1fr;
        grid-template-columns: em(924px) em(244px);
        grid-template-areas:
            "s s"
            "l f";
    }
}