.recipe-index {
    position: relative;
    margin-inline: rem(16px);


    .search-bar {
        grid-area: s;
        align-self: center;
    }

    .recipe-list {
        grid-area: l;
    }

    .recipe-filter {
        grid-area: f;
    }


    @include mq(mq-1200) {
        display: grid;
        grid-template-rows: rem(80px) 1fr;
        grid-template-columns: rem(924px) rem(244px);
        grid-template-areas:
            "s s"
            "l f";
    }
}