// Font Sizes
.sm-font {
    font-size: rem(14px);
}

.md-font {
    font-size: rem(20px);
}

.lg-font {
    font-size: rem(30px);
}

.xl-font {
    font-size: rem(40px);
}

// List
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &>li {
        margin: 0;
        padding: 0;
    }
}

// Positioning
.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.auto-center {
        justify-content: center;
        align-items: center;
    }

    >*.full-grow {
        flex: 1;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.center-block {
    display: block;
    margin: 0 auto;
}

// Media helpers
.square-ratio {
    aspect-ratio: 1/1
}

.wide-ratio {
    aspect-ratio: 16/9
}

.square-3 {
    aspect-ratio: 4/3
}

// Buttons
.simple-button {
    background: transparent;
    color: black;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    opacity: 0.6;
    transition: 0.3s all;
    padding: 0;
    cursor: pointer;

    &:disabled {
        cursor: initial;
        opacity: 0.2;
    }

    i {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    &:hover:not(:disabled) {
        opacity: 1;
    }
}

.medium-button {
    font-size: 1.5rem;
}

// Transitions
.fast-trans {
    transition: 0.25s all;
}

.normal-trans {
    transition: 0.4s all;
}

.slow-trans {
    transition: 0.7s all;
}

// Spacing
.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

// Normalize Background
.normBackground {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Dividing
.bottom-divider {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

// Others
.blurred {
    filter: blur(4px);
}

.simple-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 15px auto;

    &>*:not(:last-child) {
        margin-bottom: 10px;
    }

    input:not([type="checkbox"]),
    button {
        padding: 5px 8px;
        width: 100%;
    }

    .form-errors {
        text-align: center;
        margin-top: 24px;
        color: red;
        font-size: 15px;
    }
}


.list-style {
    h3 {
        font-size: rem(18px);
        margin-block-end: em(8px);
        font-weight: 500;
    }

    &>*:nth-child(2n):not(h3) {
        background-color: $clr-base-5;
    }

    &>*:nth-child(2n + 1):not(h3) {
        background-color: $clr-base-6;
    }

    li {
        height: em(60px);
        padding: em(8px);
    }

    @include mq(medium) {
        h3 {
            font-size: rem(24px);
        }
    }
}

.form-style {
    display: grid;
    gap: em(8px);

    label {
        font-size: rem(18px);
        text-transform: capitalize
    }

    input {
        height: rem(32px);
        max-width: rem(480px);
    }

    select {
        height: rem(32px);
        max-width: rem(480px);
    }

    button {
        height: rem(32px);
        width: rem(64px);
        border-radius: 1000px;
        border: none;
        background-color: $clr-base-8;
        color: $clr-base-2;
        transition: all .1s ease;
        
        &:hover{
            background-color: $clr-base-4;
        }

    }
}