// colors

$clr-base-1: #ffffff;
$clr-base-2: #FEFEFE;
$clr-base-3: #F2F3F7;
$clr-base-4: #A2B1B1;
$clr-base-5: #8a8a8a;
$clr-base-6: #292929;


$app-header-height: 60px;

$app-margin-size: rem(16px);

$border-radius-3: 3px;

$box-shadow-clr: rgba(195, 195, 195, 0.099)